body{
    background: black;
}

.botao-menu {
    width: 100%;
    height: 70px;
    font-size: 18px;
    margin-bottom: 10px;
}

.iconeFontAwesome{
    color: #d04937;
    font-size: 16px;
    margin-right: 1rem;
    transition: 0.2s;
}

.botao-menu:hover i,
.botao-menu:focus i{
    color: white;
}

.botao-menu:focus{
    background-color: #c81313;
    border-color: #bc1212;
    box-shadow: 0 0 0 .25rem rgba(238, 57, 57, 0.5);
    color: white;
}

form {
    width: 90%;
    max-width: 600px;
}