body{
    background: black;
}

.botao-menu{
    width: 150px;
    height: 70px;
    font-size: 18px;
}

.iconeFontAwesome{
    color: #d04937;
    font-size: 16px;
    margin-right: 1rem;
}