body{
    background: black;
}

.botao-menu{
    width: 100%; 
    max-width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconeFontAwesome{
    color: #d04937;
    font-size: 16px;
    margin-right: 1rem;
}

form {
    width: 90%;
    max-width: 600px;
}